//Corporate
$main: #55c4d0;
$main-light: #d5f4f7;
$main-dark: #278b96;
$secondry: #375573;
$secondry-light: #cad8e6;
$secondry-dark: #19334d;

//Feedback
$danger: #f15a6d;
$danger-light: #ffc4cc;
$danger-dark: #b8283b;
$success: #6ec190;
$success-light: #d5f5e2;
$success-dark: #2b754a;
$alert: #ffc845;
$alert-light: #ffe9b5;
$alert-dark: #9d6f00;

//Grayscale
$ink: #333333;
$ink-light: #999999;
$ink-lightest: #bbbbbb;
$ground: #d4d4d4;
$ground-light: #e3e3e3;
$ground-lightest: #f2f2f2;
$white: #ffffff;
