@import "./reset";
@import "./colors";

body {
	background-color: $ground-lightest;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.title {
	color: $main;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 20px;
}

.main-container {
	background-color: $white;
	width:600px;
	margin: 20px auto;
	color: $ink;
}

.todo__item--comlpeted {
	text-decoration: line-through;
}

.todo__empty-msg {
	font-size: 25px;
	text-align: center;
	color: $ground;
	margin: 20px;
}

.delete-icon {
	color: $danger;
	:hover {
		color: $danger-dark;
	}
}

.input-zone {
	padding: 20px 20px 0px 20px;
}

.footer {
	line-height: 36px;
	display: flex;
	justify-content: space-between;
	padding: 20px;

	.counter {
		margin: 0 16px;
	}

	.link {
		padding: 8px 16px;
		color: $ink;
		margin: 0 3px;
		min-width: 88px !important;
		text-decoration: none;
		border: 1px solid transparent;
		border-radius: 3px;
		font-size: 14px;
		font-weight: 500;
	}

	.link:hover {
		border-color: $ground;
	}

	.link--active, .link--active:hover {
		border-color: $ink;
	}

	.clear {
		.link {
			color: $danger-dark;
		}
		.link:hover {
			border-color: $danger-light;
			background-color: $danger-light;
		}
	}
}
